* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    background-color: gold;
}
header .logo a {
    color: black;
}
header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
header nav a {
    color: black;
}